<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.properity.mapper.RenterMapper">
    <!--更新业主-->
    <update id="update">
        update renter
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="number != null and number != ''">
                number = #{number},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--批量删除业主信息 (1, 2, 3)-->
    <!--遍历的集合，元素，分隔符，遍历之前拼接前括号-->
    <delete id="delete">
        delete
        from renter
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!--条件查询-->
    <select id="list" resultType="com.project.properity.pojo.Renter">
        select * from renter
        <where>
            <if test="name != null  and name != ''">
                name like concat('%',#{name},'%')
            </if>
            <if test="number != null  and number != ''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="phone != null  and phone != ''">
                and phone = #{phone}
            </if>
        </where>
        order by id desc
    </select>

</mapper>
