<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.properity.mapper.UserMapper">
    <!--更新个人信息-->
    <update id="update">
        update user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--条件查询-->
    <select id="list" resultType="com.project.properity.pojo.User">
        select * from user
        <where>
            <if test="username != null  and username != ''">
                username like concat('%',#{username},'%')
            </if>
        </where>
        order by id desc
    </select>
</mapper>
